In [1]:
import pandas as pd
import numpy as np

C:\Anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('tech_fundings.csv')

In [6]:
df.dtypes

index                    int64
Company                 object
Website                 object
Region                  object
Vertical                object
Funding Amount (USD)    object
Funding Stage           object
Funding Date            object
dtype: object

In [7]:
df.head()

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,Jan-20
1,2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,Jan-20
2,3,api.video,https://api.video,France,Developer APIs,300000,Seed,Jan-20
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,Jan-20
4,5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,Jan-20

In [9]:
df.isnull().sum()

index                    0
Company                  0
Website                  0
Region                  12
Vertical                 0
Funding Amount (USD)     0
Funding Stage            0
Funding Date             0
dtype: int64

In [13]:
region_isnull = df['Region'].isnull()  #boolean series

In [16]:
df[region_isnull]

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
853,854,Hedget,https://www.hedget.com/,NaN,Blockchain,500000,Seed,Aug-20
2050,2051,MOUND,https://pancakebunny.finance/farm,NaN,Blockchain,1600000,Seed,Apr-21
2244,2245,Realm,https://www.realm.art/,NaN,Augmented Reality,2250000,Seed,May-21
2335,2336,ArDrive,https://ardrive.io/,NaN,Cloud Computing,1600000,Seed,May-21
3328,3329,Orca Creative,https://www.orca.so/,NaN,Blockchain,18000000,Series A,Sep-21
3333,3334,Grape Network,https://grapes.network/,NaN,Blockchain,1200000,Seed,Sep-21
3344,3345,Angle Protocol,https://www.angle.money/,NaN,Blockchain,5000000,Seed,Sep-21
3353,3354,Domination Finance,https://domination.finance/,NaN,Blockchain,3200000,Seed,Sep-21
3374,3375,Solcial,https://solcial.io/,NaN,Cloud Computing,2900000,Seed,Sep-21
3390,3391,Liveblocks,https://liveblocks.io,NaN,Cloud Computing,1400000,Pre-Seed,Sep-21
3398,3399,Talisman,https://talisman.xyz/,NaN,Community,2350000,Seed,Sep-21
3453,3454,PrimeDAO,https://primedao.eth.link,NaN,Finance,2000000,Seed,Sep-21

In [20]:
#hapus kolom index dan website karena tidak digunakan
df.drop(columns=['index'], inplace=True)
df.drop(columns=['Website'], inplace=True)

In [21]:
df.head()

,Company,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,Internxt,Spain,Blockchain,278940,Seed,Jan-20
1,Dockflow,Belgium,Logistics,292244,Seed,Jan-20
2,api.video,France,Developer APIs,300000,Seed,Jan-20
3,Buck.ai,United States,Artificial Intelligence,300000,Seed,Jan-20
4,Prodsight,United Kingdom,Artificial Intelligence,529013,Seed,Jan-20

In [22]:
df.size

21450

In [ ]:
#df['Region']=='United States' boolean series

In [23]:
df_US = df[df['Region']=='United States']

In [28]:
df_US.shape

(2034, 6)

In [25]:
df_US = df.query("Region == 'United States'")

In [29]:
df_US.shape

(2034, 6)

In [30]:
df_US.to_csv('Company Funding US.csv', index=False)

In [31]:
df_US.head(2034)

,Company,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
3,Buck.ai,United States,Artificial Intelligence,300000,Seed,Jan-20
6,Seatrec,United States,Marine Technology,970000,Seed,Jan-20
7,BeeCanvas,United States,B2B Software,1000000,Seed,Jan-20
8,SmartKarrot,United States,B2B Software,1000000,Angel,Jan-20
10,Fundraise Up,United States,B2B Software,1250000,Seed,Jan-20
...,...,...,...,...,...,...
3559,Locus Robotics,United States,Robotics,50000000,Series E,Sep-21
3560,Discord,United States,Social Network,500000000,Series H,Sep-21
3562,Qwilt,United States,Telecommunications,70000000,Series E,Sep-21
3569,SmarterTravel,United States,Travel,9500000,Series B,Sep-21
3570,Headout,United States,Travel,12000000,Series B,Sep-21

In [ ]:
df_US.query()